# Google Mobility Reports

This notebooks show how to use the `mobility` data source which extracts data from the [Google Mobility reports](https://www.google.com/covid19/mobility/).

To extract the information, this data source needs to download the PDFs, altough this operation only is required to be performed one time. To use the data source we just need to load it and pass it the path where we want to download the PDF files, we don't have to worry about the path not existing, as it will create it for us.

Now we will start by importing the data_source loader and get the `mobility` data source

In [1]:
from task_geo.data_sources import get_data_source

data_source = get_data_source('mobility')

Now we just need to call it:

In [2]:
data = data_source()

data.head(10)

/home/xino/.virtualenvs/task_geo/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,country_iso,country,region,date,retail_recreation,grocery_pharmacy,parks,transit_stations,workplaces,residential
0,AE,United Arab Emirates,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
5,AE,United Arab Emirates,NaN,2020-02-20,-2.0,1.0,6.0,1.0,1.0,1.0
6,AE,United Arab Emirates,NaN,2020-02-21,-3.0,2.0,6.0,0.0,-1.0,1.0
7,AE,United Arab Emirates,NaN,2020-02-22,-2.0,2.0,4.0,-2.0,3.0,1.0
8,AE,United Arab Emirates,NaN,2020-02-23,-1.0,3.0,3.0,-1.0,4.0,1.0
9,AE,United Arab Emirates,NaN,2020-02-24,-3.0,0.0,5.0,-1.0,3.0,1.0